/**
 * Autor/a: Jonathan Benitez
 * version: 1.0
 * fecha: 21/08/2024
 * El siguiente script se genera el estilo para la pagina web consumiendo la API del Museo Metropolitano de NY...
 */

* {
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-image: url('/assets/Principal_bd.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f8f5fa;
  font-weight: 700;
  font-size: 1.2rem;

}

.imgLogo {
  margin-top: 5px;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: #9f3647;
  font-weight: bold;
  margin-top: 1px;
}

#forma {
  max-width: 60%;
  padding: 40px;
  display: flex;
  margin: 0 auto;

  .sisi {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    padding: 0px 20px;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #333333;
    outline: none;
    color: rgb(255, 255, 255);

  }

  .label {
    color: rgb(10, 9, 9);
    font-weight: bold;
    margin-left: 10px;
  }

  .boton {
    width: 10%;
    height: 40px;
    background-color: #9f3647;
    border: 2px solid #201a1b;
    color: #ffffff;
    border-radius: 50px;
    font-size: 1rem;
    text-align: center;
    margin-top: 16px;
  }
}


.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columnas de igual tamaño */
  gap: 10px;
  /* Espacio entre las cards */
  padding: 20px;

  .cubos {
    border: 1px solid #9f3647;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #f1c4cb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;

    h3 {
      font-size: 1.2rem;
      margin: 10px 0;
    }

    p {
      font-size: 1rem;
      color: #070707;
    }

  }
}

.imagen {
  width: 100%;
  height: 300px;
  /* Ajusta la altura a tu preferencia */
  object-fit: cover;
}

/*------------------------MODAL DE IMAGENES------------------------*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #bcd3a8;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  margin: 10px 0;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 2rem;
  color: #070101;
  font-weight: bold;
}

.imagen-modal {
  width: 300px;
  height: 229px;
}

#imagenesAdicionales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.btn-ver-mas {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #9f3647;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-ver-mas:hover {
  background-color: #9f3647;
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* ------------------------Paginación------------------------ */
#botones {
  text-align: center;
}

.botonP {
  background-color: #9f3647;
  border: 2px solid #201a1b;
  padding: 10px;
  margin: 5px;
  font-weight: bold;
  border-radius: 50px;
}

/* ------------------------FOOTER------------------------ */
footer {
  bottom: 0;
  width: 100%;
  display: flex;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  .footerA {
    text-decoration: none;
  color: #9f3647;
  font-weight: bold;
  }
}