* {
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(78, 33, 82);
    font-family: 'Times New Roman', Times, serif;
}

#forma {
    max-width: 100%;
    padding: 40px;
    display: flex;
    margin: 0 auto;

    .sisi {
        width: 100%;
        margin-bottom: 10px;
        height: 40px;
        padding: 0px 20px;
        font-size: 1rem;
        border-radius: 20px;
        background-color: #333333;
        outline: none;
        color: rgb(255, 255, 255);
    }

    .boton {
        width: 70%;
        height: 6px;
        box-sizing: content-box;
        background-color: #9f3647;
        border: 2px solid #9f3647;
        color: #ffffff;
        padding: 1rem 1rem;
        border-radius: 20px;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;

    }
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas de igual tamaño */
    gap: 20px;
    /* Espacio entre las cards */
    padding: 20px;

    .cubos {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;

        h3 {
            font-size: 1.2rem;
            margin: 10px 0;
        }

        p {
            font-size: 1rem;
            color: #555;
        }

    }
}

.imagen {
    width: 100%;
    /* La imagen ocupa todo el ancho de la card */
    height: auto;
    display: block;
}